<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type="text/css" rel="stylesheet" href="../static/css/main.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/welcome.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" />

    <title>Full Circle Blog</title>
  </head>

  <body>
    <div class="welcome">
      <!-- header tiles -->
      <div class="top-tiles">
        <div class="tile one"></div>
        <div class="tile two"></div>
      </div>

      <!-- container -->
      <div class="container">
        <h1 class="title">We Are Sorry</h1>
        <p class="phrase">we can't seem to find the page you're looking for<br>
                          perhaps you'd like to try some options below
        <div class="buttons">
          <a class="button" href="/blog">Home</a>
        </div>
        <div class="buttons">
          <a class="button" href="/user/login">Login</a>
        </div>
      </div>
      <div>

      <!-- welcome plane -->
      <div class="welcome-plane">
        <img id="plane" src="../static/img/welcome-plane.jpg" />
      </div>
    </div>

    <!-- jQuery to help with animations -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/js/typewriter/typed.js"></script>
    <script src="../static/js/typewriter.js"></script>

  </body>
</html>
