<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link type="text/css" rel="stylesheet" href="/static/main.css" />


  <title>Udacity Multi User Blog Project</title>

</head>

<body>
  <a href="/" class="main-title">
    CS 253 Blog
  </a>

  <div class="login-area">
    {% if user %}
      <a href="/newpost">New Post</a>
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

