{% extends "base.html" %}

{% block content %}
    <!-- header navigation bar -->
    <div class="welcome">
      <div class="top-tiles">
        <div class="tile one"></div>
        <div class="tile two"></div>
      </div>
      <div class="container">
        <h1 class="title">Full Circle</h1>
        <p id="welcome-phrase" class="phrase"></p>
        <div class="buttons">
          <a class="button" href="/user/login">Login</a>
        </div>
        <div class="buttons">
          <a class="button" href="/user/signup">Signup</a>
        </div>
      </div>

      <div class="welcome-plane">
        <i class="fa fa-plane fa-3x" id="welcome-plane" aria-hidden="true"></i>
      </div>
    </div>
{% endblock %}
