{% extends "base.html" %}

{% block content %}
	<div>
    <a href="/blog/deletepost/{{post.key().id()}}">Delete</a>
		<a href="/blog/editpost/{{post.key().id()}}">Edit</a>
	</div>
  	{{post.render() | safe}}

    <form method="post" role="form">
                <input type="hidden" class="form-control" id="like" name="like" value="update">
                <button type="submit" class="btn btn-primary">Like {{likescount}}</button>
            </form>

  	<form method="post" role="form" class="comment-form">
        <label>
          <div>comment</div>
          <input name="comment">{{comment}}</input>
        </label>
        <input type="submit">
    </form>
    {% for c in comments %}
      <blockquote>
    <a href="/blog/deletecomment/{{post.key().id()}}/{{c.key().id()}}">Delete</a>
    <a href="/blog/editcomment/{{post.key().id()}}/{{c.key().id()}}">Edit</a>
          <p>{{ c.comment }}</p>
          <footer>{{ c.getAuthor() }}</footer>
      </blockquote>
    {% endfor %}


    

{% endblock %}
