{% extends "base.html" %}

{% block content %}
<!-- header navigation bar -->
<div class="welcome">
  <div class="top-tiles">
    <div class="tile one"></div>
    <div class="tile two"></div>
  </div>

  <div class="user">
    <div class="section1">
      <div class="tabs left inactive"><a class="tab" href="/user/login">Login</a></div>
      <div class="tabs right active"><a class="tab" href="/user/signup">Sign Up</a></div>
    </div>

    <div class="section2">
      <form method="post">
        <div class="row">
          <label class="user-label">Username</label>
        </div>
        <div class="row">
          <input class="user-input" type="text" name="username" value="{{username}}">
        </div>
        <div class="row">
          <label class="user-label">Password</label>
        </div>
        <div class="row">
          <input class="user-input" type="password" name="password" value="">
        </div>
        <div class="row">
          <label class="user-label">Verify Password</label>
        </div>
        <div class="row">
          <input class="user-input" type="password" name="verify" value="">
        </div>
        <div class="row">
          <label class="user-label">Email (optional)</label>
        </div>
        <div class="row">
          <input class="user-input" type="text" name="email" value="{{email}}">
        </div>
        <div class="error row">
          {{error_username}}{{error_password}}{{error_verify}}{{error_email}}
        </div>
        <div class="row">
          <input id="user-submit" type="submit" class="submit" value="Signup">
        </div>
      </form>
    </div>
  </div>

  <div class="welcome-plane">
    <i class="fa fa-plane fa-3x" id="welcome-plane" aria-hidden="true"></i>
  </div>
</div>

{% endblock %}
